@font-face {
  font-family: 'Saira Stencil One', cursive;
}

body {
  margin: 0;
  background-image: url('images/pokemonBG.jpg');
  background-size: cover;
}
#container {
  display: grid;
  font-family: 'Saira Stencil One', cursive;
  margin: 20px;
  height: 93.55vh;
  grid-gap: 15px;
  width: auto;
  grid-template: 20% 24% 15% 40% / 30.4% 20% 22% 24.6%;
  grid-template-areas:
  "tImg digimon stats moves"
  "characters digimon stats moves"
  ". digimon stats moves"
  ". . . ."
}

#btn {
  cursor: pointer;
  display: block;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 2em;
}

#digimon {
  grid-area: digimon;
  overflow-y: scroll;
  overflow-x: hidden;
  border: groove grey 14px;
  background-color: black;
}

#digimon::-webkit-scrollbar {
  background-color: transparent;
  scroll-behavior: smooth;
}

#digimon ul {
  padding: 0;
}

#digimon li {
  color: white;
}

#digimon img {
  cursor: pointer;
  display: block;
}

#characters {
  grid-area: characters;
  margin-left: auto;
  margin-right: auto;
  color: Black;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
}

#trainerSprite {
  margin-top: auto;
  margin-bottom: auto;
  height: 180px;
  width: 180px;
}

.generator li {
  text-transform: capitalize;
  list-style-type: none;
  text-align: center;
  font-size: 24px;
}

.generator img {
  margin-left: auto;
  margin-right: auto;
}

#trainerImg  {
  grid-area: tImg;
}
#stats {
  display: block;
  grid-area: stats;
  text-transform: capitalize;
  list-style-type: none;
  text-align: center;
  color: white;
  border: groove grey 14px;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 20px;
}

#stats::-webkit-scrollbar {
  background-color: transparent;
  scroll-behavior: smooth;
}

h2 {
  margin: 0;
}

#moves {
  display: none;
  grid-area: moves;
  text-transform: capitalize;
  text-align: center;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
  border: groove grey 14px;
  background-color: black;
  color: white;
}


#moves li {
  font-size: 20px;
}

#moves::-webkit-scrollbar {
  background-color: transparent;
  scroll-behavior: smooth;
}

.animate {
	transition: all .1s;
	-webkit-transition: all .1s;
}

.action-button {
	position: sticky;
  top: 0;
	padding: 10px 20px;
  margin-left: auto;
  margin-right: auto;
	border-radius: 10px;
	font-family: 'Saira Stencil One', cursive;
	font-size: 22px;
	color: #FFF;
	text-decoration: none;
}

.deets {
	background-color: #030213;
	border-bottom: 5px solid #EB3636;
	text-shadow: 0px -2px #2980B9;
}
