

@font-face {
  font-family: 'Saira Stencil One', cursive;
}



body {
  margin: 0;
  background-image: url('https://ze-robot.com/images/source/2758.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body img {
}

#container {
  display: grid;
  font-family: 'Saira Stencil One', cursive;
  margin: 20px;
  height: 96.15vh;
  width: auto;
  grid-template: 20% 27% 20% 27% / 27.4% 25% 25% 22.6%;
  grid-template-areas:
  "tImg digimon stats moves"
  "characters digimon stats moves"
  ". digimon . ."
  ". . . ."
}

#btn {
  cursor: pointer;
  display: block;
  margin-bottom: 30px;
}

#digimon {
  grid-area: digimon;
  overflow-y: scroll;
  overflow-x: hidden;
}

#digimon::-webkit-scrollbar {
  background-color: transparent;
  scroll-behavior: smooth;
}

#digimon ul {
  padding: 0;
}

#digimon li {
  color: white;
}

#digimon img {
  cursor: pointer;
  display: block;
}

#characters {
  grid-area: characters;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
}

#trainerSprite {
  margin-top: auto;
  margin-bottom: auto;
  height: 150px;
  width: 150px;
}

.generator {
  grid-area: generator;
}

.generator li {
  text-transform: capitalize;
  list-style-type: none;
  text-align: center;
}

.generator img {
  margin-left: auto;
  margin-right: auto;
}

#trainerImg  {
  grid-area: tImg;
}

#trainerImg  img {
}

#stats {
  display: block;
  grid-area: stats;
  text-transform: capitalize;
  list-style-type: none;
  text-align: center;
  color: white;
}

#stats li {
  font-size: 18px;
}

h2 {
  margin: 0;
}

#moves {
  display: none;
  grid-area: moves;
  text-transform: capitalize;
  text-align: center;
  list-style-type: none;
  overflow-y: scroll;
  overflow-x: hidden;
  color: white;
}


#moves li {
  font-size: 18px;
}

#moves::-webkit-scrollbar {
  background-color: transparent;
  scroll-behavior: smooth;
}


.animate {
	transition: all .1s;
	-webkit-transition: all .1s;
}

.action-button {
	position: sticky;
  top: 0;
	padding: 10px 30px;
  margin-left: auto;
  margin-right: auto;
	border-radius: 10px;
	font-family: 'Saira Stencil One', cursive;
	font-size: 25px;
	color: #FFF;
	text-decoration: none;
}

.deets {
	background-color: #030213;
	border-bottom: 5px solid #EB3636;
	text-shadow: 0px -2px #2980B9;
}
