@font-face {
  font-family: 'Saira Stencil One', cursive;
}

body {
  font-family: 'Saira Stencil One', cursive;
  display: block;
  margin: 0;
  background-image: url(./images/pkmn-bckgrnd.jpg);
  color: white;
}
