@font-face {
  font-family: 'Saira Stencil One', cursive;
}
#container {
  display: grid;
  font-family: 'Saira Stencil One', cursive;
  margin: 0;
  height: 100%;
  width: 100%;
  grid-template: 25vh 25vh 25vh 25vh / 25vw 25vw 25vw 25vw;
  grid-template-areas:
  "tImg  tImg . digimon"
  "tImg  tImg . digimon"
  "moves  moves  stats  stats"
}

#digimon {
  grid-area: digimon;
  overflow-y: scroll;
}

#generator li {
  text-transform: capitalize;
  list-style-type: none
}

#trainerImg  {
  grid-area: tImg;
  background-color: yellow;
}

#stats {
  grid-area: stats;
  background-color: orange;
}

#moves {
  grid-area: moves;
  background-color: grey;
}
